$mainColor: #19191a;
$textColor: #fff;
$fontSize: 17px;
$h1fontSize: 70px;
$pfontSize: 17px;
$smallpfontSize: 15px;
$sectionHeight: 873/1080 * 100vh;
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

@mixin bold {
  font-weight: bold;
}


html {
  font-size: $fontSize;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: $mainColor;
  color: $textColor;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

@mixin wrapper {
  display: flex;
  justify-content: center;
}

div.header-wrapper {
  @include wrapper;

  header {
    width: 1200px;
    //min-width: 500px;
    //max-width: 1400px;
    gap: 30px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainColor;

    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 20%;

      a {
        color: $textColor;
      }

    }

    nav {
      display: flex;
      margin-right: 5%;
      gap: 40px;

      a {
        color: $textColor;

        &:hover, &.active, &:focus {
          color: #127e96;
        }
      }
    }
  }
}


main {
  div.body-wrapper {
    @include wrapper;

    section {
      width: 1200px;
      display: flex;
      height: $sectionHeight;
      flex-direction: row;
      align-items: center;
      gap: 50px;
      //margin: auto 5%;

      div.left-flex-container {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
        width: 100%;

        div {
          &.sky_lines {
            position: relative;

            &::before {
              content: url("../img/lines.svg");
              position: absolute;
              top: -26px;
              left: -26px;
            }
          }

          img#man {
            width: 100%;

            //max-width: 50vw;
            //max-height: $sectionHeight;
          }

        }
      }

      .right-flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        flex-basis: 50%;
        font-size: $smallpfontSize;

        .text-container {
          font-size: $h1fontSize;

          p {
            letter-spacing: 3px;

            .sky_line {
              position: relative;

              &::after {
                content: url("../img/line.svg");
                position: absolute;
                top: 30%;
                left: 0;
              }

              b {
                @include bold;
              }
            }
          }
        }

        div.icons-container {
          display: flex;
          flex-direction: column;
          gap: 10px;

          ul.icons {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 20px;
          }
        }
      }
    }
  }
}
