$mainColor: #19191a;
$textColor: #fff;
$fontSize: 17px;
$sectionHeight: 873/1080 * 100vh;
* {
  margin: 0;
  padding: 0;
}

@mixin bold {
  font-weight: bold;
}


html {
  font-size: $fontSize;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: $mainColor;
  color: $textColor;
}

header {
  height: 119/1080 * 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mainColor;

  h1 {
    justify-self: left;
    margin-left: 50px;
    margin-top: 26px;

    a {
      color: $textColor;
      text-decoration: none;
    }

  }

  nav {
    //margin-top: 17px;
    display: flex;
    margin-right: 1440px - 987px - 403px;

    a {
      box-sizing: border-box;
      padding: 20px;
      color: $textColor;
      text-decoration: none;
      line-height: 27px;
      text-align: left;
      font-weight: 400;

      &:hover, &.active {
        color: #127e96;
      }
    }
  }
}

main {
  section {
    display: flex;
    width: 90vw;
    height: $sectionHeight;
    flex-direction: row;
    //border: 1px solid white;
    align-items: center;
    margin: 40px 5% (48px / 1080px) * 100vh;


    .text-container {
      flex-basis: 50%;
      //border: 1px solid white;
      font-size: (70px /$fontSize)  * 1rem;
      margin-left: 60/1440 * 100vw;

      div {
        &.icons-container {
          margin-top: 610.58px - 516.58px;
          margin-left: 22/1440 * 100vw;

          p {
            line-height: 24px;
            font-size: (15px /$fontSize)  * 1rem;
            font-weight: 400

          }

          div.icons {
            margin-top: 10/1080 * 100vh;
            display: flex;
            flex-direction: row;
            //margin-top: 50px;
            img {
              margin-right: 20/1440 * 100vw;
            }
          }
        }
      }


      p {
        line-height: 88px;
        font-weight: 400;
        letter-spacing: 3.200000047683716px;

        img {
          position: absolute;
          margin-top: 0.6em;
          height: 88px;
          width: 160px;
        }

        span {
          font-size: (75px /$fontSize)  * 1rem;

          &.bold {
            font-weight: 700;
            font-size: (80px /$fontSize)  * 1rem;
          }
        }

      }
    }

    .image-container {
      display: flex;
      flex-basis: 50%;
      justify-content: center;

      img {
        &#man {
          max-width: 45vw;
          max-height: $sectionHeight;
        }

        &#lines {
          position: absolute;
          margin-top: -26px;
          margin-left: -26px;
        }

      }


    }


  }
}
